---
permalink: /{{ locale }}/portfolio/
title: Portfolio
---

{% extends "layouts/base.html" %} 
{% import "macros/portfolio-item.html" as portfolioItem %}

{% block content %}

{% include "partials/site-head.html" %}

<main tabindex="-1" id="main-content">
<div>
    <h1>Portfolio</h1>
</div>
<article>
    {% for item in portfolio[locale].items %}
    {{ portfolioItem.link(item.url, item.year, item.title, item.image, item.summary) }}
    {% endfor %}
</article>
</main>

{% include "partials/site-foot.html" %}

{% endblock %}
