<div id="about" class="about">
    <div class="about__left">
        <div class="about__titleball">
            <h2 class="about__title">{{ about[locale].greeting }}</h2>
        </div>
        <article>
            <p>{{ about[locale].kpl1 }}</p>
            <p>{{ about[locale].kpl2 }}</p>
        </article>

    </div>
    <div class="about__right">

        <article>
            <h3>{{ about[locale].triviatitle }}</h3>
            <ul>
            {% for fact in about[locale].trivia %}
                {% if fact.url %}
                    <li>
                        {{ fact.starttext }}
                        <a href="{{ fact.url }}">{{ fact.linktext }}</a>
                        {{ fact.endtext }}
                    </li>
                {% else %}
                    <li>{{ fact }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </article>

    </div>
</div>