<footer id="contact">
    <div>
    <h2 class="section-header">{{ site[locale].contact }}</h2>
    </div>
    <div>
        <span class="site-foot__info"><i>{{ site[locale].email }}</i> <h4>puuropuro@proton.me</h4></span>
        <span class="site-foot__info"><i>{{ site[locale].phone }}</i> <h4>045 269 3176</h4></span>
    </div>
    <div>
        <p>Copyright 2025 Jari Virkki - site built with <a href="https://www.11ty.dev/">Eleventy</a></p>
        <p>CARBON FOOTPRINT CALCULATOR HERE https://www.websitecarbon.com/</p>
    </div>
    </footer>