{% import "macros/translation.html" as trans %}

<article id="work" class="work">
    <section id="tech">
        <h2>{{ work[locale].techtitle }}</h2>
        <span>
            <p>
            {% set lastitem = work[locale].tech | last %}
            {% for item in work[locale].tech %}
                {% if item !== lastitem %}
                    {{ item }} -
                {% else %}
                    {{ item }}
                {% endif %} 
            {% endfor %}
            </p>
        </span>
    </section>
    <section id="values">
        <h2>{{ work[locale].valuestitle }}</h2>
        <ul>
            {% for item in work[locale].values %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </section>
    <section id="ft-project">
        <p>See more of my work <a href="/{{ locale }}/portfolio/">here</a></p>
    </section>
    <section id="media">
        <h2>{{ work[locale].mediatitle }}</h2>
        <h3>{{ work[locale].mediatagline }}</h3>
        <ul>
            {% for item in work[locale].mediawork %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <p>{{ trans.lation(
            'Are you an activist, artist or non-profit cultural organisation looking to rent equipment, book live sound, studio space or recording services? You might want to check out', 
            'Oletko aktivisti, taiteilija tai järjestön aktiivi, joka tarvitsee laitevuokrausta, ääniteknikkoa, studiotilaa tai äänityspalveluita? Katso', 
            locale) }}
            <a href="https://tapahtumajamedia.wordpress.com">Tamere Ry</a>
        </p>
    </section>
    
</article>