{% import "macros/translation.html" as trans %}

<div id="work" class="work">
    <div id="tech">
        <h2>{{ work[locale].techtitle }}</h2>
        <span>
            <p>
            {% set lastitem = work[locale].tech | last %}
            {% for item in work[locale].tech %}
                {% if item !== lastitem %}
                    {{ item }} -
                {% else %}
                    {{ item }}
                {% endif %} 
            {% endfor %}
            </p>
        </span>
    </div>
    <div id="values">
        <h2>{{ work[locale].valuestitle }}</h2>
        <ul>
            {% for item in work[locale].values %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="media">
        <h2>{{ work[locale].mediatitle }}</h2>
        <ul>
            <p>I provide a variety of media and event services, including but not limited to:</p>
            {% for item in work[locale].mediawork %}
            <li>{{ item }}</li>
            {% endfor %}
            <p class="box-block">{{ trans.lation(
                'Are you an activist or non-profit cultural organisation looking to rent equipment, book live sound, studio space or recording services? You might want to check out', 
                'Oletko aktivisti tai järjestön aktiivi, joka tarvitsee laitevuokrausta, ääniteknikkoa, studiotilaa tai äänityspalveluita? Katso', 
                locale) }}
                <a href="https://tapahtumajamedia.wordpress.com">Tamere Ry</a>
            </p>
        </ul>
    </div>
</div>